<mat-toolbar class="wrap-header">
  <a href="/" class="logo">
    <img src="../../../assets/logo.png" alt="logo" />
  </a>
  <div class="menu">
    <ul class="main-menu">
      <li><a href="/">Home</a></li>
      <li><a>Shop</a></li>
      <li><a>Sale</a></li>
      <li><a>Features</a></li>
      <li><a>Blog</a></li>
      <li><a>About</a></li>
      <li><a>Contact</a></li>
    </ul>
  </div>
  <div class="header-icons">
    <a class="header-wrapicon1 dis-block">
      <img
        src="../../../assets/icon-header-01.png "
        alt="icon-header01"
        class="icon-header"
      />
    </a>
    <span class="linedivide1"></span>
    <div class="header-wrapicon2">
      <img
        src="../../../assets/icon-header-02.png "
        alt="icon-header02"
        class="icon-header"
      />
      <span class="header-icon-noti">0</span>
    </div>
  </div>
</mat-toolbar>
