<!-- <img src="../../../assets/item/item-03.jpg" alt="dresses" />

<img src="../../../assets/item/item-04.jpg" alt="dresses" />

<img src="../../../assets/item/item-10.jpg" alt="dresses" />
<img src="../../../assets/item/item-12.jpg" alt="dresses" />

<img src="../../../assets/item/item-13.jpg" alt="dresses" />

<img src="../../../assets/item/item-15.jpg" alt="dresses" />
<img src="../../../assets/item/item-16.jpg" alt="dresses" /> -->
<h1>FEATURED PRODUCTS</h1>
<ngx-slick-carousel
  class="carousel"
  #slickModal="slick-carousel"
  [config]="slideConfig"
  style="margin: 0px 10px"
>
  <div ngxSlickItem class="slide hov-img" *ngFor="let image of images">
    <img
      width="100%"
      height="100%"
      src="{{ image.img }}"
      style="background-repeat: no-repeat"
      alt="slide-image"
    />
  </div>
</ngx-slick-carousel>
