<!-- Slider -->
<ngx-slick-carousel
  class="carousel"
  #slickModal="slick-carousel"
  [config]="slideConfig"
>
  <div ngxSlickItem class="slide hov-img" *ngFor="let image of images">
    <img
      src="{{ image.img }}"
      style="object-fit: cover; background-repeat: no-repeat"
      alt="slide-image"
    />
  </div>
</ngx-slick-carousel>
<!--Banner-->
<mat-grid-list
  class="banner"
  [cols]="breakpoint"
  rowHeight="18rem"
  gutterSize="25px"
  (window:resize)="onResize($event)"
>
  <mat-grid-tile
    *ngFor="let item of list"
    [rowspan]="item.rows"
    [colspan]="item.cols"
    class="hov-img"
  >
    <img
      src="../../../assets/bannerp/banner-0{{ item.data }}.jpg"
      alt=""
      style="object-fit: cover; width: 100%; height: 100%"
    />
  </mat-grid-tile>
</mat-grid-list>
